.header {
  background-color: white;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  transition: all 0.1s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}
